@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-dark font-sans antialiased;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.glass-card {
  @apply bg-white/30 backdrop-blur-md border border-white/20 shadow-xl rounded-2xl;
}
